body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.rps_area{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

.box{
    text-align: center;
    padding: 10px;
}

.rps_area p{
    font-size: 1.8rem;
}

.rps_area img{
    width: 150px;
    cursor: pointer;
}

.scores{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.scores input{
    font-size: 1.5rem;
    width: 60px;
    border: 2px solid hsl(0, 0%, 20%, 0.3);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-weight: bold;
    color: rgb(88, 89, 89);
}
.scores .you{
    color: rgb(0, 198, 252);
}
.scores .computer{
    color: rgb(252, 0, 0);
}
.scores .alldraw{
    color: rgb(160, 160, 160);
}
.scores .scores_son{
    margin-top: 20px;
}
.scores .scores_son span{
    margin: 6px;
}
.scores_son p{
    margin: 0;
    margin-top: 20px;
    font-size: 2.5rem;
}

.result{
    margin-top: 20px;
    width: 80%;
    font-size: 2.2rem;
    text-align: center;
    background-color: rgb(246, 250, 252);
    padding: 14px;
    border-radius: 40px;
}
.win_Result{
    border: 6px solid rgb(0, 198, 252);
    color: rgb(0, 198, 252);
}

.lose_Result{
    border: 6px solid rgb(252, 0, 0);
    color: rgb(252, 0, 0);
}

.draw_Result{
    border: 6px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
}

.error_Result{
    border: 6px solid rgb(63, 63, 63);
    color: rgb(63, 63, 63);
}

.result span, img{
    font-size: 2rem;
    width: 30px;
    font-weight: bold;
}

.result button{
    font-size: 2rem;
    padding: 10px 16px;
    margin-top: 20px;
    color: white;
    border: 3px solid rgba(97, 0, 252, 0.733);
    width: 250px;
    border-radius: 100px;
    background-color: white;
    color: rgba(97, 0, 252, 0.733);
}

button{
    font-size: 2.8rem;
    padding: 10px;
    margin-top: 20px;
    color: white;
    border: none;
    width: 80%;
    border-radius: 100px;
    background-color: rgba(97, 0, 252, 0.733);
}
button:hover{
    background-color: rgba(97, 0, 252, 0.429);
}

.finalResult{
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    font-weight: bold;
}

.win{
    border: 6px solid rgb(0, 198, 252);
    color: rgb(0, 198, 252);
}
.lose{
    border: 6px solid rgb(252, 0, 0);
    color: rgb(252, 0, 0);
}
.draw{
    border: 6px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
}

@media screen and (max-width: 430px) {
    .rps_area img{
        width: 120px;
    }
}
